@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: #fdfdfd;
    --foreground: #0a0a0a;
    /* -- */
    --buttonclr: #0a0a0a;
    --btntextclr: #fdfdfd;
  }
  .dark {
    --background: #0a0a0a;
    --foreground: #fdfdfd;
    --buttonclr: #fdfdfd;
    --btntextclr: #0a0a0a;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
